body{
    background-color: rgb(44, 45, 44);
}

.title{
    display: flex;
    justify-content: center;
}

.inputButton{
    display: flex;
    justify-content: center;
    margin-top: 3vw;
}

h1 {
    color: #9999FF;
    font-size: 2em;
}

.eingabefeld{
    width: 30vw;
    height: 2vw;
    border-radius: 0.5vw;
    border: none;
    padding-left: 1vw;
    margin-left: 5vw;
}

button {
    background-color: #9999FF;
    color: #dedede;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    font-size: 1em;
    align-content: center;
    margin-left: 1vw;
}

button:hover {
    background-color: #ffa049;
    color: #fff;
}

.liste{
    display: grid;
    grid-column-gap: 10vw;
}

#todoListe{
    color: #fff;
    margin-top: 3vw;
    margin-left: 33vw;
}

.menu {
    position: relative;
    display: inline-block;
  }
  
  .dropdown {
    display: none;
    position: absolute;
    background-color:rgb(34, 34, 34);
    color: #9999FF;
    min-width: 10vw;
    padding: 1vw;
    z-index: 1;
  }
  
  .menu:hover .dropdown {
    display: block;
  }

    .subdrop{
        display: none;
        position:relative;
        background-color: rgb(43, 43, 43);
        color: #9999FF;
        min-width: 10vw;
        padding: 1vw;
        z-index: 1;
    }

    .submenu:hover .subdrop{
        display: block;
    }

.motivation{
    text-align: center;
    margin-top: 20vw;
}

h4{
    font-size: 2vw;
    color: white;
}

.spruch{
    font-size: 1.5vw;
    color: white;
    padding: none;
}